Package: com.erratic5k.charcoalios8
Name: Charcoal iOS8
Depends: winterboard, com.codethemed.iconbundles
Version: 1.2
Architecture: iphoneos-arm
Description: A clean black theme
Maintainer: Erratic5K
Author: Erratic5K <erratic5k@gmail.com>
Section: Themes (Springboard)

