Package: com.erratic5k.charcoalios8
Name: Charcoal iOS8
Depends: winterboard, com.codethemed.iconbundles
Version: 2.0
Architecture: iphoneos-arm
Description: Plain Dark Theme
Maintainer: Erratic5K
Author: Erratic5K <erratic5k@gmail.com>
Section: Themes (Springboard)

